@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.apptheme {
  margin-top: 0rem;
  margin-bottom: 0rem;
  flex: 1;
}
